.pagination{
    grid-area: pagination;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    height: 2rem;
}

.pagination span{
    padding-top: 0.5rem;
}

.pagination button{
    width: 8rem;
    height: 2rem;
    background-color: #222222;
    border-radius: 0.5rem;
    color: white;
}
.pagination button:hover{
    opacity: 90%;
    transition: 0.4s;
    cursor: pointer;
}
