#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    height: 100vh;
}

#main-button:hover{
    filter: blur(2px);
    transition: 0.4s;
    cursor: pointer;
}

#seta{
    width: 96px;
    height: auto;
}