#card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    gap: 0.8rem;
    background-color: #222222;
    border-radius: 0.5rem;
}

#card img{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#card h2, h3{
    text-align: center;
    border-bottom: 2px solid darkgray;
    color: white;
    padding: 1rem;
}