#header{
    background-color: #3c3e44;
    padding: 2rem;
    text-align: center;
}

#header-title{
    font-size: 4rem;
    color: #00B5CC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #97FB9B;
    font-family: rick-font;
}