@import 'reset-css/reset.css';

@font-face {
    font-family: 'rick-font';
    src: url('../public/fonts/get_schwifty.ttf');
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}